<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nas.api.mapper.v1.file.FileMapper">

    <select id="getFileList" resultType="org.nas.api.model.v1.file.File">
        select item_id
             , item_name
             , item_size
             , parent_id
             , item_type
             , extension
             , last_modified_at
        from (
            select folder_id                                        as item_id
                 , folder_name                                      as item_name
                 , 0                                                as item_size
                 , parent_folder_id                                 as parent_id
                 , 'folder'                                         as item_type
                 , null                                             as extension
                 , TO_CHAR(created_at, 'YYYY-MM-DD HH24:MI')        as last_modified_at
                 , null				                                as uploaded_at
            from folders
            where folder_id <![CDATA[ <> ]]> parent_folder_id
            and parent_folder_id = #{activeFolderId}
            and user_code = #{userCode}
            union all
            select file_id                                          as item_id
                 , origin_name                                      as item_name
                 , file_size                                        as item_size
                 , folder_id                                        as parent_id
                 , 'file'                                           as item_type
                 , extension                                        as extension
                 , TO_CHAR(uploaded_at, 'YYYY-MM-DD HH24:MI')       as last_modified_at
                 , uploaded_at		                                as uploaded_at
            from files
            where delete_yn = 'N'
            and folder_id = #{activeFolderId}
            and user_code = #{userCode}
        ) t
        order by item_type desc, uploaded_at desc
    </select>

    <select id="getThumbnail" resultType="org.nas.api.model.v1.file.FilePreview">
        select
            fp.storage_path
            , fp.stored_name
        from files f
        left join file_previews fp on f.file_id = fp.file_id
        where f.delete_yn = 'N'
          and f.user_code = #{userCode}
          and f.folder_id = #{activeFolderId}
          and f.file_id = #{fileId}
    </select>

    <select id="getPreview" resultType="org.nas.api.model.v1.file.FilePreview">
        select f.storage_path
             , f.stored_name
        from files f
        where f.delete_yn = 'N'
          and f.user_code = #{userCode}
          and f.folder_id = #{activeFolderId}
          and f.file_id = #{fileId}
    </select>

</mapper>