<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nas.api.mapper.v1.folder.FolderMapper">

    <select id="rootFolder" resultType="org.nas.api.model.v1.folder.Folder">
        SELECT FOLDER_ID
          FROM NAS_FOLDER
         WHERE FOLDER_ID = PARENT_FOLDER_ID
           AND USER_CODE = #{userCode}
    </select>

    <insert id="createFolder">
        INSERT INTO NAS_FOLDER (
            FOLDER_ID
            , USER_CODE
            , PARENT_FOLDER_ID
            , FOLDER_NAME
        ) VALUES (
            uuid_in(md5(random()::text || now()::text)::cstring)
            , #{userCode}
            , #{folderId}
            , #{folderName}
        )
    </insert>

    <update id="reNameFolder">
        UPDATE NAS_FOLDER
           SET FOLDER_NAME = #{changeName}
         WHERE USER_CODE = #{userCode}
           AND FOLDER_ID = #{folderId}
           AND PARENT_FOLDER_ID = #{parentFolderId}
    </update>

    <select id="deleteFolderList" resultType="org.nas.api.model.v1.folder.Folder">
        WITH RECURSIVE FOLDER_TREE AS (
             SELECT FOLDER_ID, PARENT_FOLDER_ID
               FROM NAS_FOLDER
              WHERE FOLDER_ID = #{folderId}
                AND USER_CODE = #{userCode}
              UNION ALL
             SELECT F.FOLDER_ID, F.PARENT_FOLDER_ID
               FROM NAS_FOLDER F
               JOIN FOLDER_TREE FT
                 ON F.PARENT_FOLDER_ID = FT.FOLDER_ID
              WHERE USER_CODE = #{userCode}
        )
        SELECT FOLDER_ID, PARENT_FOLDER_ID
          FROM FOLDER_TREE
    </select>

    <select id="deleteFileList" resultType="org.nas.api.model.v1.file.File">
        SELECT FILE_ID
          FROM NAS_FILE
         WHERE USER_CODE = #{userCode}
           AND FOLDER_ID = #{folderId}
    </select>

    <update id="deleteFolder">
        UPDATE NAS_FOLDER
        SET DELETE_YN = 'Y'
          , DELETED_AT = NOW()
        WHERE DELETE_YN = 'N'
          AND USER_CODE = #{userCode}
          AND PARENT_FOLDER_ID = #{parentFolderId}
          AND FOLDER_ID = #{folderId}
    </update>

    <delete id="deleteFile">
        UPDATE NAS_FILE
           SET DELETE_YN = 'Y'
             , DELETED_AT = NOW()
         WHERE DELETE_YN = 'N'
           AND USER_CODE = #{userCode}
           AND FILE_ID = #{fileId}
           AND FOLDER_ID = #{folderId}
    </delete>

    <update id="deletePreview">
        UPDATE NAS_FILE_PREVIEW
           SET DELETE_YN = 'Y'
             , DELETED_AT = NOW()
         WHERE DELETE_YN = 'N'
           AND FILE_ID = #{fileId}
    </update>
</mapper>